$blue-color: #2947A9;
.hero-section {
    background-image: url("./images/hero-section/hero.png");
    height: 80vh;
    >h1 {
        font-size: 70px;
        font-weight: bold;
    }
    >div {
        width: 320px;
        height: 140px;
    }
}

// REPUTATION SECTION
.reputation-content div{
    height: 170px;
    width: 300px;
}
hr{
    width: 50px;
    height: 2px;
}

// ABOUT US SECTION
.aboutus{
    .about-img {
        width: 80%;
        img{
            width: 100%;
        }
    }
    .about-text {
        width: 80%;
    }
}
@media (min-width:768px) {
    .aboutus {
        position: relative;
        height: 60vh;
        .about-img{
            position: absolute;
            width: 70%;
            height: 100%;
            left: 0;
            img{
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .about-text {
            position: absolute;
            width: 40%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

// SERVICE SECTION
@mixin services-cards-mixin($name, $bg, $color) {
    .service-#{$name} {
        background-color: $bg;
        color: $color;
        height: 170px;
        width: 260px;
    }
}
@include services-cards-mixin("construction", white, $blue-color);
@include services-cards-mixin("renovation", $blue-color, white);
@include services-cards-mixin("consultation", white, $blue-color);
@include services-cards-mixin("repair", $blue-color, white);
@include services-cards-mixin("architecture", white, $blue-color);
@include services-cards-mixin("electric", $blue-color, white);
.service-cards{
    max-width: 70rem;
    gap: 40px 80px;
}

// ADS SECTION
.ads-section {
    background-image: url("ads.png");
}
// PROJECTS SECTION
.project-left p{
    margin-bottom: 8px;
    padding-left: 12px;
}
.project-demo{
    .image-container{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.cta-section form{
    max-width: 40rem;
    input, textarea{
        outline: none;
        // opacity: 0.5;
    }
}

