@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif !important;
}
$blue-color: #2947A9;
@mixin services-cards-mixin($name, $bg, $color) {
    .service-#{$name} {
        background-color: $bg;
        color: $color;
        height: 170px;
        width: 260px;
    }
}
@mixin font-style($name, $color, $weight, $size) {
    .#{$name} {
      color: $color;
      font-weight: $weight;
      font-size: $size;
    }
}
@mixin button-style($name, $color, $bg-color, $bd-radius, $height, $width){
    .#{$name} {
        color: $color;
        background-color: $bg-color;
        border-radius: $bd-radius;
        height: $height;
        width: $width;
        border: none;
        font-weight: 400;
    }
}
//style all headings
@include font-style("section-heading", black, 700, 40px);
@include font-style("ads-section-heading", white, 600, 40px);
//style all buttons
@include button-style("about-button", $blue-color, white, 3px, 40px, auto);
@include button-style("experience-button", white, $blue-color, 2px, 40px, auto);
@include button-style("project-btn", white, black, 1px, 40px, 130px);
@include button-style("cta-submit-button", white, $blue-color, 2px, 40px, 150px);
@include button-style("bottom-subscribe-btn", white, orange, 2px, 35px, 150px);

//NAV BAR SECTION
.the-box-logo-color {
    color: $blue-color;
}
.nav-item a{
    transition: all 0.4s ease-out;
    &:hover{
        color: orange;
        font-weight: 500;
    }
}
// HERO SECTION
.hero-section {
    background-image: url("./images/hero-section/hero.png");
    background-size: cover;
    height: 80vh;
    h1 {
        font-size: 40px;
        font-weight: 600;
        flex: 1;
        display: flex;
        align-items: center;
    }
    >div {
        width: 310px;
        height: 140px;
        background-color: $blue-color;
    }
    .hero-feature-btn {
        gap: 2px;
    }
    @media (min-width: 576px){
        h1{
            font-size: 60px;
        }
        div {
            width: 380px;
            height: 150px;
        }
    }
}

// REPUTATION SECTION
.reputation-content div{
    height: 170px;
    width: 300px;
    font-weight: 700;
}

hr{
    width: 50px;
    height: 2px;
}
//ABOUT US SECTION
.about-us-section {
    max-width: 70rem;
  }
  .section-content {
    background-color: $blue-color;
    color: white;
    right: 0;
    top: 15%;
  }
  @include font-style("content", white, 400, 17.5px);
  @media (min-width: 992px) {
    .about-image {
        width: 65%;
        aspect-ratio: 7/5;
    }
    .section-content {
        position: absolute;
        width: 40%;
        height: 90%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    @media(min-width: 1100px) {
        .section-content {
            height: 80%;
        }
    }
}

// SERVICE SECTION
@include services-cards-mixin("construction", white, $blue-color);
@include services-cards-mixin("renovation", $blue-color, white);
@include services-cards-mixin("consultation", white, $blue-color);
@include services-cards-mixin("repair", $blue-color, white);
@include services-cards-mixin("architecture", white, $blue-color);
@include services-cards-mixin("electric", $blue-color, white);
.service-cards{
    max-width: 70rem;
    gap: 40px 80px;
}

// EXPERIENCE SECTION
.experience-content{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .experience-common{
        box-shadow: 4px 4px 10px gray;
        height: 150px;
        width: 280px;
        div {
            height: 150px;
            img{
                height: 50px;
                width: 50px;
            }
            h2{
                font-size: 40px;
            }
            p{
                border-left: 4px solid orange;
                color: gray;
            }
        }
    }
    .experience-c1 {
        top: 25px;
        .img1 {
            top: -30px;
            right: -17px;
        }
    }
    .experience-c2 {
        top: 210px;
        .img2 {
            top: -36px;
            right: 237px;
        }
    }
    .experience-c3 {
        top: 390px;
        .img3 {
            top: -19px;
            right: -15px;
        }
    }
    .experience-c4 {
        top: 572px;
        .img4 {
            top: 122px;
            right: -15px;
        }
    }
}
@include font-style("experience-text-heading", $blue-color, 700, 50px);
@media (min-width: 650px) {
    .experience-section {
        column-gap: 80px;
    }
    .experience-content {
        height: 610px;
        width: 600px;
        .experience-c1 {
            right: 60px;
            top: 45px;
        }
        .experience-c2 {
            right: 250px;
            top: 176px;
        }
        .experience-c3 {
            right: 95px;
            top: 300px;
        }
        .experience-c4 {
            right: 230px;
            top: 430px;
        }
    }
    @include font-style("experience-text-heading", $blue-color, 700, 60px);
}
// ADS SECTION
.ads-section {
    background-image: url("ads.png");
    @include font-style("ads-section-heading", white, 600, 27px);
}
@media (min-width: 576px) {
    .ads-section {
        @include font-style("ads-section-heading", white, 600, 40px);
    }
}
// PROJECTS SECTION
.project-types p{
    margin-bottom: 8px;
    padding-left: 12px;
    color: gray;
    font-weight: 600;
}
.project-types :nth-child(1){
    border-left: 4px solid $blue-color;
    color: $blue-color;
}
.project-demo{
    .image-container{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    div > div {
        background-color: $blue-color;
    }
}
.project-examples-btn {
    width: 100%;
    .project-middle-circles{
        height: 30px;
        display: none !important;
        >div {
            width: 14px;
            height: 14px;
            margin: 0 5px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
@media (min-width: 768px) {
    .project-examples-btn {
        width: 70%;
        .project-middle-circles {
            display: flex !important;
        }
    }
}
// CTA SECTION
.cta-section {
    @include font-style("section-heading", black, 600, 25px);
    p{
        font-size: 12px;
    }
    form{
        width: 100%;
        input, textarea{
            outline: none;
        }
    }
}
@media (min-width:576px) {
    .cta-section {
        @include font-style("section-heading", black, 700, 40px);
        p{
            font-size: 20px;
        }
        form {
            max-width: 40rem;
        }
    }
}

//BOTTOM SECTION
.bottom-address p{
    >span {
        color: $blue-color;
    }
}
.bottom-social-media p{
    color: $blue-color;
}

//FOOTER SECTION
.footer-section {
    background-color: $blue-color;
    p {
        margin-left: 10px;
    }
}
@media (min-width:768px){
    .footer-section {
        background-color: $blue-color;
        p {
            margin-left: 12%;
        }
    }
}

